/* вторичний колір тексту #212121 */
/* основний колір тексту #757575 */
/* білий колір #FFFFFF */
/* колір акценту #2196F3 */
/* колір героя і футера #2F303A */
/* колір  фону секції #F5F4FA */
/* колір фону #F5F5F5 */
/* колір лого #000000 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration-line: none;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding: 94px 0;
}

.section-what-we-do {
  padding: 0 0 94px;
}

.footer-section {
  padding: 60px 0;
  display: flex;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* основні стилі секцій */

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  margin-bottom: 50px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

/* logo */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  padding: 24px 0;
}

.logo .web {
  color: var(--accent-color);
}

.logo .studio {
  color: #000000;
}

/* navigation */

.site-nav {
  color: var(--title-text-color);
  display: flex;
}

.site-nav a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-item:first-child {
  margin-left: 94px;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.site-cont {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  display: flex;
}

.site-cont a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-cont a:hover,
.site-cont a:focus {
  color: var(--accent-color);
}

.link-current {
  color: var(--accent-color);
  position: relative;
  padding-bottom: 32px;
}

.link-current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: -1px;
  left: 0;
}

.site-nav,
.site-cont,
.footer-cont {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.main-nav {
  display: flex;
  align-items: center;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-cont-item:not(:last-child) {
  margin-right: 50px;
}

.site-cont-item-link {
  display: flex;
  align-items: center;
}

.site-cont-item-img {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.site-cont-item-icon {
  fill: currentColor;
}

/* hero */

.hero-section {
  background-color: #2f303a;
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 669px;
  margin: 0 auto 30px;
}

.button-hero {
  display: block;
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  padding: 10px 32px;
  border: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  background-color: #188ce8;
}

/* наші переваги */

.oportunities {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.oportunities-list {
  display: flex;
  gap: 30px;
}

.oportunities-item {
  width: 270px;
  line-height: 1.71;
}

.oportunities-img {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

/* Чим ми займаємося */

.our-work-list {
  display: flex;
  gap: 30px;
}

.our-work-list-item {
  max-width: 370px;
  position: relative;
}

.our-work-container {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
}

.our-work-text {
  display: flex;
  color: #fff;
  text-transform: uppercase;
  align-items: center;
  font-weight: 700;
  line-height: calc(16 / 14);
}

/* наша команда  */

.name {
  color: var(--title-text-color);
  font-size: 16px;
  margin-bottom: 10px;
  min-width: 145px;
}

.team-position {
  min-width: 147px;
}

.section-team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-item {
  padding: 30px;
  background-color: #ffffff;
  width: 270px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border: transparent solid 1px;
}

.team-card:not(:last-child) {
  margin-right: 30px;
}

.team-image {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-icon-img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-list {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.team-icon-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-img:hover,
.team-icon-img:focus {
  background-color: var(--accent-color);
}

.team-icon-img:hover .team-icon-icon,
.team-icon-img:focus .team-icon-icon {
  fill: #ffffff;
}

/* Постійні клієнти */

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

/* футер */
.container-footer {
  display: flex;
  align-items: baseline;
}

.footer {
  background-color: #2f303a;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  padding: 0px;
}

.logo-studio2 {
  color: #ffffff;
}

.logo-web {
  color: var(--accent-color);
}

.map {
  color: #ffffff;
}

.footer-cont {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
}

.footer-cont a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-cont a:hover,
.footer-cont a:focus {
  color: var(--accent-color);
}

.footer-cont-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-join {
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-icon-icon {
  fill: #ffffff;
}

.footer-icon-img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-img:hover,
.footer-icon-img:focus {
  background-color: var(--accent-color);
}

.footer-join-section {
  margin-left: 70px;
}

.footer-email-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  padding: 15px 16px;
}

.footer-join-button {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: var(--accent-color);
}

.footer-join-button:hover,
.footer-join-button:focus {
  background-color: #188ce8;
}

.footer-form-email-section {
  display: flex;
  gap: 12px;
}

.footer-form-section {
  margin-left: 120px;
}

/* css portfolio */

.title-portfolio,
.oportunities-title {
  display: none;
}

.works-name {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.works-type {
  font-size: 16px;
  line-height: calc(30 / 16);
}

.works-item {
  padding: 20px 24px;
  width: 370px;
  border: 1px solid #eeeeee;
  border-top: 0px;
}

.works-description {
  position: relative;
  overflow: hidden;
}

.works-item-container {
  background: rgba(33, 150, 243, 0.9);
  width: 370px;
  height: 294px;
  position: absolute;
  top: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-card:hover .works-item-container,
.works-card:focus-within .works-item-container {
  transform: translateY(-100%);
}

.works-item-text {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.works-card {
  width: 370px;
}

.works-card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-card-link:hover,
.works-card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.button-portfolio {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  padding: 6px 22px;
  text-align: center;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-portfolio.current {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-portfolio-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.close {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-icon {
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:focus.close-icon,
.close:hover .close-icon {
  fill: var(--accent-color);
}

.form-title {
  color: #212121;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
}

.form-control {
  position: relative;
  margin-bottom: 10px;
}

.form-contact {
  margin-top: 12px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 14px 35px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  cursor: text;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  width: 100%;
  height: 120px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
}

.form-textarea:focus {
  border: 1px solid var(--accent-color);
}

.form-input:focus {
  border: 1px solid var(--accent-color);
}

.form-input:focus+.form-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.terms-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.terms-wrap {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.icon-checkbox-wrap {
  position: relative;
}

.checkbox-label {
  display: flex;
  gap: 7px;
}

.checkbox-icon2 {
  /* fill: var(--accent-color); */
  fill: transparent;
  position: absolute;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon1 {
  fill: transparent;
  position: absolute;
  z-index: 1;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked~.checkbox-icon2 {
  fill: var(--accent-color);
}

.checkbox-input:checked~.checkbox-icon1 {
  fill: #fff;
}

.button-modal {
  display: block;
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  padding: 10px 52px;
  border: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 30px;
}

.button-modal:hover,
.button-modal:focus {
  background-color: #188ce8;
}